* {
    margin: 0px;
    padding: 0px;
}

.titulo1 {
    background-color: rgb(0, 0, 0);
    font-size: 2em;
    font-family: 'Merriweather Sans', sans-serif;
    /*font-family: 'Bebas Neue', cursive; LA COMA ES PORQUE SI NO ENCUENTRA EL PRIMERO VA POR LA SEGUNDA NOMÁS*/
    color: blueviolet;
}

nav {
    background-color: yellow;
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    height: 2em;
}

footer {
    background-color: yellow;
}